*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    text-align: center;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
}

div.logo{
    display: flex;
    align-items: center;
    color: #000;
    user-select: none;
}

img.logo{
    height: 32px;
    width: 32px;
}

main{
    display: flex;
    flex: 1;
    flex-direction: column;
}

div.main{
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
    display: none;
    flex-direction: column;
    width: 100%;
    flex: 1;
}


a{
    text-decoration: none;
    color: #000;
}

.cta{
    background-color: #000;
    color: #fff;
    user-select: none;
}

footer{
    text-align: center;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
}

div.loader{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

div.loader h1{
    font-size: 3em;
    letter-spacing: 15px;
    animation: flash 1.2s linear infinite;
}


@keyframes flash {
    0%{
        color: #3395a0;
        text-shadow: 0 0 7px #3395a0;
    }
    90%{
        color: #000;
        text-shadow: none;
    }
    100%{
        color: #3395a0;
        text-shadow: 0 0 7px #3395a0;
    }
}
